body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #8B0000;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #070606;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

section {
    background-color: #1f1f1f;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #ff4d4d;
}

button {
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #070606;
    text-align: center;
    padding: 15px;
}